<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-head(twtitle=~{::title},links=~{},refreshMessages=false)">
    <title th:text="#{org.woehlke.mybp.measurement.all.title.short}">Blood Pressure Measurements</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::h1},description=~{::p.tw-content-subtitle})">
<div id="page">
    <header id="tw-content-title">
        <h1>
            <i class="fa-solid fa-heart-pulse"></i>
            <span th:utext="#{org.woehlke.mybp.measurement.all.title}">All Measurements</span>
        </h1>
        <p class="tw-content-subtitle">
            <span th:text="#{org.woehlke.mybp.measurement.edit.subtitle.long}"></span>
        </p>
        <p class="tw-content-subtitle">
            <span class="row my-2">
                <span class="col-3">
                    <a href="#" th:href="@{/measurement/add}" class="btn btn-primary btn-block" role="button">
                        <i class="fa-solid fa-square-plus"></i>
                        <span th:text="#{org.woehlke.mybp.measurement.all.button.add}">Add New Measurement</span>
                    </a>
                </span>
                <span class="col-3">
                    <a href="#" th:href="@{/measurement/all}" class="btn btn-secondary btn-block" role="button">
                        <i class="fas fa-sync"></i>
                        <span th:text="#{org.woehlke.mybp.measurement.all.button.reload}">Reload List of All Measurements</span>
                    </a>
                </span>
                <span class="col-3" th:text="#{org.woehlke.mybp.measurement.all.button.export.label}">Export List of All Measurements</span>
                <span class="col-1">
                    <a href="#" th:href="@{/measurement/export/all}" class="btn btn-outline-dark btn-block" role="button">
                        <i class="fas fa-download"></i>
                        <span th:text="#{org.woehlke.mybp.measurement.all.button.export.csv}">Export List of All Measurements</span>
                    </a>
                </span>
                <span class="col-1">
                    <!-- TODO: #147 REST button.export.xml -->
                    <a href="#" th:href="@{/rest/measurement/all.xml}" class="btn btn-outline-dark btn-block" role="button" disabled="true">
                        <i class="fas fa-download"></i>
                        <span th:text="#{org.woehlke.mybp.measurement.all.button.export.xml}">Export List of All Measurements</span>
                    </a>
                </span>
                <span class="col-1">
                    <!-- TODO: #148 REST button.export.json -->
                    <a href="#" th:href="@{/rest/measurement/all.json}" class="btn btn-outline-dark btn-block" role="button" disabled="true">
                        <i class="fas fa-download"></i>
                        <span th:text="#{org.woehlke.mybp.measurement.all.button.export.json}">Export List of All Measurements</span>
                    </a>
                </span>
            </span>
        </p>
    </header>
    <!-- Main Document Window -->
    <main id="tw-main-section">
        <div class="container" sec:authorize="isAuthenticated()">
            <div th:fragment="mytwcontent">
                <div th:replace="layout/pagination :: tw-pagination(page=${all})"></div>
                <div class="row">
                    <div class="col">
                        <table class="table table-sm table-striped table-hover tw-measurements-all-page">
                            <thead>
                            <tr>
                                <!--
                                <th th:utext="#{org.woehlke.bloodmoney.oodm.measurement.id}">id</th>
                                -->
                                <th><a class="sorted" sd:pagination-sort="date" th:utext="#{org.woehlke.bloodmoney.oodm.measurement.date}">date</a></th>
                                <th><a class="sorted" sd:pagination-sort="time" th:utext="#{org.woehlke.bloodmoney.oodm.measurement.time}">time</a></th>
                                <th><a class="sorted" sd:pagination-sort="systolicTopNumber" th:utext="#{org.woehlke.bloodmoney.oodm.measurement.systolicTopNumber}">systolicTopNumber</a></th>
                                <th><a class="sorted" sd:pagination-sort="diastolicBottomNumber" th:utext="#{org.woehlke.bloodmoney.oodm.measurement.diastolicBottomNumber}">diastolicBottomNumber</a></th>
                                <th><a class="sorted" sd:pagination-sort="pulse" th:utext="#{org.woehlke.bloodmoney.oodm.measurement.pulse}">pulse</a></th>
                                <th><a class="sorted" sd:pagination-sort="weight" th:utext="#{org.woehlke.bloodmoney.oodm.measurement.weight}">weight</a></th>
                                <!--
                                <th th:utext="#{org.woehlke.bloodmoney.oodm.measurement.situation}">situation</th>
                                -->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="measurement : ${all}">
                                <!--
                                <td class="tw-debug measurement-id">
                                    <a href="" th:href="@{|/measurement/${measurement.id}/|}">
                                        <span th:text="${measurement.id}">measurement.id</span>
                                    </a>
                                </td>
                                -->
                                <td class="tw-debug measurement-date">
                                    <span th:text="${#temporals.format(measurement.date, 'dd.MM.yyyy')}">measurement.date</span>
                                </td>
                                <td class="tw-debug measurement-time">
                                    <a href="" th:href="@{|/measurement/${measurement.id}/|}">
                                        <span th:text="${#temporals.format(measurement.time, 'HH:mm')}">measurement.time</span>
                                    </a>
                                </td>
                                <td class="tw-debug measurement-systolic-top-number">
                                    <span th:text="${measurement.systolicTopNumber}">measurement.systolicTopNumber</span>
                                </td>
                                <td class="tw-debug measurement-diastolic-bottom-number">
                                    <span th:text="${measurement.diastolicBottomNumber}">measurement.diastolicBottomNumber</span>
                                </td>
                                <td class="tw-debug measurement-pulse">
                                    <span th:text="${measurement.pulse}">measurement.pulse</span>
                                </td>
                                <td class="tw-debug measurement-weight">
                                    <span th:text="${measurement.weight}">measurement.weight</span>
                                </td>
                                <!--
                                <td class="tw-debug measurement-situation">
                                    <span th:text="${measurement.situation}">measurement.situation</span>
                                </td>
                                -->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:replace="layout/pagination :: tw-pagination(page=${all})"></div>
            </div>
        </div> <!-- /container -->
    </main>
</div>
<div th:replace="/layout/page :: tw-footer"></div>
</body>
</html>
