target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# usage-without-binary-jar: https://maven.apache.org/wrapper/
.mvn/wrapper/maven-wrapper.jar

.env
.idea/
*iml
*.xcf
*.gif

/.classpath
/.project
/.idea
/.settings
/.factorypath
.classpath
.project
.settings

/transaction-logs/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

bloodmoney.iml
*.log
/bloodmoney.log
/bloodmoney.log*
build
/package.json
/package-lock.json
/webpack.config.js
/webpack.generated.js
/node_modules/
/target
/wrapper

/release.properties
/pom.xml.releaseBackup
/x.txt
/x.log.txt
/xy.txt
/xx2.txt
/xy2.txt
/spring-boot-migrator.jar
/spring-boot-upgrade.jar
/.rewrite-cache/
