<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

<div th:fragment="navbartop">

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">

      <a class="navbar-brand" th:href="@{/}" href="#">
        <i class="fas fa-hand-holding-heart"></i>
        <span th:text="#{org.woehlke.mybp.navigation.topbar.brand}"></span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarBloodmoney" aria-controls="navbarBloodmoney"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarBloodmoney">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()">

          <li class="nav-item text-start" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/measurement/add}" href="#">
              <i class="fa-solid fa-square-plus"></i>
              <span th:text="#{org.woehlke.mybp.measurement.add.title.short}"></span>
            </a>
          </li>

          <li class="nav-item active" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/home}" href="#">
              <i class="fa-solid fa-heart-pulse"></i>
              <span th:text="#{org.woehlke.mybp.navigation.topbar.home}"></span>
            </a>
          </li>

          <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${userSessionBean.devTesting}">
            <a class="nav-link" th:href="@{/test/createTestData}" href="#">
              <i class="far fa-file"></i>
              <span th:text="#{org.woehlke.mybp.navigation.topbar.createtestdata}"></span>
            </a>
          </li>

          <ul class="navbar-nav flex-row flex-wrap ms-md-auto" sec:authorize="isAuthenticated()">
            <li class="nav-item dropdown me-2 me-auto mb-2 mb-lg-0 position-end text-end">
              <a class="nav-link dropdown-toggle text-end" href="#" id="dropdownExportList" role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                <i class="fas fa-download"></i>
                <span th:text="#{org.woehlke.mybp.navigation.topbar.export}">Export List</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownExportList">
                <li>
                  <a class="dropdown-item" href="#" th:href="@{/measurement/export/all}">
                    <i class="fas fa-download"></i>
                    <span th:text="#{org.woehlke.mybp.measurement.all.button.export.csv}">CSV</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" th:href="@{/measurement/export/all.xml}">
                    <i class="fas fa-download"></i>
                    <span th:text="#{org.woehlke.mybp.measurement.all.button.export.xml}">XML</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" th:href="@{/measurement/export/all.json}">
                    <i class="fas fa-download"></i>
                    <span th:text="#{org.woehlke.mybp.measurement.all.button.export.json}">json</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}" href="#">
              <i class="fas fa-sign-out-alt"></i>
              <span th:text="#{org.woehlke.mybp.navigation.topbar.logout}"></span>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()"></ul>

        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          <li class="nav-item dropdown me-2 me-auto mb-2 mb-lg-0 position-end text-end">
            <a class="nav-link dropdown-toggle text-end" href="#" id="dropdownLanguages" role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              <i class="fas fa-globe"></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownLanguages">
              <li>
                <a class="dropdown-item" href="#" th:href="@{{url}(lang='de')}">
                  <img class="lang-switcher-img" th:src="@{/languages/de.png}"/>
                  <span th:text="#{org.woehlke.mybp.navigation.topbar.lang.de}"></span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" th:href="@{{url}(lang='en')}">
                  <img class="lang-switcher-img" th:src="@{/languages/gb.png}"/>
                  <span th:text="#{org.woehlke.mybp.navigation.topbar.lang.en}"></span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>
</html>
