<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

<div th:fragment="tw-pagination(page)">
    <div class="row" sec:authorize="isAuthenticated()">
        <div class="col">
            <nav aria-label="pagination">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <span sd:pagination-summary="">info</span>
            <span sd:page-size-selector="javascript"></span>
        </div>
    </div>
</div>

</html>
