<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="layout/page :: tw-head(twtitle=~{::title},links=~{},refreshMessages=false)">
    <title th:text="#{user.loginForm.h1}">Welcome to BloodMoney</title>
</head>
<body th:replace="layout/page :: tw-page-body(twcontent=~{::mytwcontent},twtitle=~{::h1},description=~{::p.tw-content-subtitle})">
<div id="page">
    <header id="tw-content-title">
        <h1>
            <i class="fas fa-stethoscope"></i>
            <span th:utext="#{user.loginForm.h1}">Welcome</span>
        </h1>
        <p class="tw-content-subtitle" th:text="#{user.loginForm.h2}"></p>
    </header>
    <main role="main">
        <div class="container">
            <div th:fragment="mytwcontent">
		        <form id="user-login-form" th:action="@{/j_spring_security_check}" th:object="${loginForm}" method="post">
                    <div class="card">
                        <div class="card-header">
                            <span th:utext="#{user.loginForm.login}">Please login </span>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger" role="alert" th:if="${param.login_error != null}">
                                <span th:text="#{user.loginForm.loginError}">Your login attempt was not successful, try again.</span>
                            </div>
                            <input type="hidden"
                                   name="${_csrf.parameterName}"
                                   value="${_csrf.token}"/>
                            <div class="form-group">
                                <label for="j_username">Email</label>
                                <input id="j_username" type="email" th:field="*{{userEmail}}" class="form-control" placeholder="Enter email"/>
                            </div>
                            <div class="form-group">
                                <label for="j_password" th:text="#{user.loginForm.password}">Password</label>
                                <input id="j_password" type="password" th:field="*{{userPassword}}" class="form-control" placeholder="Password"/>
                            </div>
                            <button id="loginButton" type="submit" class="btn btn-primary">
                                <i class="fas fa-sign-in-alt"></i>
                                <span th:utext="#{user.loginForm.loginButton}"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</main>
    <div th:replace="layout/page :: tw-footer"></div>
</div>
</body>
</html>
